.travelbook-gallery-container {margin-bottom:20px;}
/*.travelbook-gallery-container video{max-height: 200px; height:120px;}*/
.travelbook-gallery-thumbnails-grid, .travelbook-gallery-thumbnails-masonry {}

.travelbook-gallery-thumbnails-grid {
    display: flex;
    flex-wrap: wrap;
}
.travelbook-gallery-thumbnails-grid a {padding: 2px;}
.travelbook-gallery-thumbnails-grid img{display: block; }

.travelbook-gallery-thumbnails-masonry {
    display: flex;
    flex-wrap: wrap;
    margin-left:-2px;
    margin-right:-2px;
    /*margin-top:-2px;*/

}
.travelbook-gallery-thumbnails-masonry a, .travelbook-gallery-thumbnails-masonry video {
    flex-grow: 1;
    height: 120px;
    max-width: 400px;
    margin: 2px;
    border-radius: 2px;
    overflow: hidden;
}


.travelbook-gallery-thumbnails-masonry.has_video a, .travelbook-gallery-thumbnails-masonry.has_video video {
    flex-grow: 1;
    height: 242px;
    max-width: 429px;
    margin: 2px;
    border-radius: 2px;
    overflow: hidden;
}
.travelbook-gallery-thumbnails-masonry img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
}
.travelbook-gallery-container a:hover img {
    transform: scale(1.05);
    filter: brightness(70%);
}

.travelbook-gallery-container a img {
    transition: all 0.5s ease;
}

video {background-color: black;}


.gallery .gallery-item:hover img {}

figure.travel-book-image-right {float:right; margin-left:15px;}
figure.travel-book-image-left {float:left; margin-right:15px;}

.travelbook-gallery-right {float:right; margin-left:15px; margin-bottom:15px;}
.travelbook-gallery-left {float:left; margin-right:15px; margin-bottom:15px;}